



<div class="instructor-list-container">
  <h2>Instructor Applications</h2>
  <div class="sort-controls">
  <label>Sort By:</label>
  <select [(ngModel)]="sortField" (change)="sortInstructors()">
    <option value="name">Name</option>
    <option value="experience">Experience</option>
    <option value="courses">Course</option>
  </select>

  <button (click)="toggleSortOrder()">
    {{ sortOrder === 'asc' ? '⬆️ Ascending' : '⬇️ Descending' }}
  </button>
</div>

  <div *ngFor="let instructor of instructors" class="instructor-item">
    <app-details-card
      [title]="'Application ' + instructor.id"
      [details]="[
        'Name: ' + instructor.name,
        'Email: ' + instructor.email,
        'course: ' + instructor.courses,

        'Qualifications: ' + instructor.qualifications,
        'Years of Experience: ' + instructor.experience
      ]">
    </app-details-card>
  </div>
</div>